{%extends "layout.html" %}

{% block body %}
    <br>
    <div id="loadingScreen" class="loadingScreen drop-overlay">
        <a href="/">
            <img class="logo" src="../static/logo2.png"/>
        </a>
        <div class="loader"></div>
    </div>
    
    <div class="selectBar">
        <form action="/quiz" method="POST">
            <h class="big">Maak voor mij verhaalsommen met...</h><br>
            <select id="theme" data-placeholder="thema" class="inputBig3" name="theme" required>
                <option id="fortnite" value="fortnite">fortnite 🔫</option>
                <option id="minecraft" value="minecraft">minecraft 🗡️</option>
                <option id="spongebob" value="spongebob">spongebob 🧽</option>
                <option id="voetbal"value="voetbal met echte voetbalclubs">voetbal ⚽</option>
            </select>
            <select data-placeholder="groep" class="inputBig4" name="grade" required>
                <option value="groep 6">groep 6</option>
                <option value="groep 7">groep 7</option>
                <option value="groep 8">groep 8</option>
            </select>
            <select data-placeholder="categorie" class="inputBig4" name="category" required>
                <option value="optellen en aftrekken">plus en min</option>
                <option value="breuken, vermenigvuldigen en delen">keer en delen</option>
                <option value="procenten, verhoudingen">procenten en verhoudingen</option>
                <option value="breuken, procenten, verhoudingen, optellen, aftrekken, vermenigvuldigen en delen" >mix</option>
            </select>
            <button class="inputBig2" onclick="loadingScreen()" type="submit">↵</button>
        </form>
    </div>
    <ul class="container">
        <figure class="item">
            <img class="icon" src="static/check.png"></img>
            <span class="caption">Gepersonaliseert leren</span>
        </figure>
        <li class="item">
            <img class="icon" src="static/rocket.png"></img>
            <span class="caption">AI gedreven</span>
        </li>
        <li class="item">
            <img class="icon" src="static/category.png"></img>
            <span class="caption">Oefenen per categorie</span>
        </li>
    </ul>
    
    <script>
        document.getElementById("loadingScreen").style.display = "none";
        function loadingScreen() {
            var theme = document.getElementById("theme").options[document.getElementById("theme").selectedIndex].value
            document.getElementById("page").setAttribute("color-mode", theme); // change page theme on submit
            document.getElementById("loadingScreen").style.display = "block";
            document.getElementsByTagName("body")[0].style = "background-color: #2E3035"; // temporary background old color dumb fix
        }
        
    </script>

{% endblock %}