{%extends "layout.html" %}

{% block body %}
    <head>
        <link rel="stylesheet" href="static/shop.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <h1 class="big">Item shop</h1>
    <ul class="container">
        
    </ul>
    <script>
        var shop;
        $.getJSON('static/shop.json', function(shopData){
            shop = shopData;
        });
        console.log(shop)
        for (var i=0; i < Object.keys(shop).length; i++) {
            console.log(shop[i].price)
        }
    </script>
{% endblock %}